<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="contain">
        <div><label for="Libelle">Libelle</label><input type="text" id="Libelle"></div>
        <div><label for="QtesStock">QtesStock</label><input type="text" id="QtesStock"></div>
        <div><label for="Prix d'achat">Prix d'achat</label><input type="text" id="Prix d'achat"></div>
        <div><label for="Montant">Montant</label><input type="text" id="Montant"></div>
        <div>
            <label for="Catégorie">Catégories</label><select name="" id="Catégorie">
                <option value="Selectionner une catégorie">Selectionner une catégorie</option>
                <option value="Tissu">Tissu</option>
                <option value="Aiguille">Aiguille</option>
                <option value="Bouton">Bouton</option>

            </select></div>
        <div class="choix">
            <button class="annuler">Annuler</button>
            <button class="valider">Valider</button>
        </div>
     

    </div>
    <div></div>

</body>

</html>